<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021 - for information on the respective copyright owner
  ~ see the NOTICE file and/or the repository https://github.com/carbynestack/cli.
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<Configuration>
    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <Console name="WARNINGS" target="SYSTEM_OUT">
            <filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDERR"/>
            <AppenderRef ref="WARNINGS"/>
        </Root>
    </Loggers>
</Configuration>